
  #trier-par {
    font-weight: 600;
  }

  #listbox-label {
    display: flex;
    position: relative;
    min-width: 70px;
    top: 0px;
    font-weight: 600;
    font-size: 18px;
    margin: 0 0 30px 0;
  } 
  
  .dropdown-arrow {
    position: absolute;
    top: 25px;
    right: 15px;
    font-size: large;
    color: white;
    cursor: pointer;
  } 

  .dropbtn {
    background-color: #901C1C;
    border-radius: 3px;
    width: 170px;
    height: 69px; 
    padding: 12px 16px;
    border: none;
    cursor: pointer
  }

  .dropbtn-text {
    position: absolute;
    top: 23px;
    left: 20px;
    color: white;
    font-size: 18px;
    font-weight: 400;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #901C1C;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    margin-left: 40px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    top: 0; 
    background-color: #f1f1f1;
    min-width: 170px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
/*     z-index: 1;
 */  }


/* 
  .svg-arrow {
    border: none; 
    background: url(/assets/icons/arrow.svg) center center / 30px 48px no-repeat;
    width: 5px;     
    height: 10px;
    position: absolute;
    top: 10px;
    left: 50px;
    margin-top: -14px;
    z-index: 20;
    color: black;
    text-indent: -10000px; 
  }*/
  
  .dropdown-content .listbox-option {
    left: 50px;
    color: white;
    background-color: #901C1C;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
    height: 40px;
  }

  .option1 {
    border-radius: 5px 5px 0 0;
  }
  .option2 {
    border-radius: 0 0 5px 5px ;
  }

  .listbox-option-text1 {
    position: absolute;
    top: 23px;
    left: 20px;
    color: white;
    font-size: 18px;
    font-weight: 400;
  }

  .listbox-option-text2 {
    position: absolute;
    top: 88px;
    left: 20px;
    color: white;
    font-size: 18px;
    font-weight: 400;
  }

  .white-border:after {
    display:block;
    content: ''; 
    height: 1px; 
    top: 64px;
    left: 5%;
    background: white;
    position: absolute;
    justify-content: center;
    width: 90%;
    color: 1px solid #f1f1f1;

  }

  .dropdown a:hover {background-color: #901C1C;}
  
  .show {display: block;}

  


/* /////////////////////////////////////////////// */
/* 
  #dropdown-select {
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 0;
    background-color: #901C1C;
    border-color: transparent;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    min-height: 50px;
    font-weight: 500;
    width: 170px;
    left: 80px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  #listbox-container::after {
    position: absolute;
    top: 15px;
    right: 15px;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    font-weight: 900;
  }
  #listbox-container:hover {
    color: black;
    background-color:#D3573C;
  }
  #listbox-container:hover > #listbox-current-option {
    color: black;
    background-color:#D3573C;
  }
  #listbox-container:focus {
    outline: 2px solid #D3573C;
  }

  #listbox-current-option {
      margin-left: 10px;
  }

  #listbox {
    display: none;
  }

  .listbox-option {
    padding: 10px 1ch 10px 0;
    border-right: 1px solid white;
  }
  .listbox-option:focus {
    outline: none;
    background-color: #D3573C;
    color: black;
  }
  */