#lightbox {    
    display: none;
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%; 
    background-color: rgba(255, 255, 255);
    z-index: 10;
    animation: lightboxIn .8s;
    transition: opacity .3s;
}

.lightbox__next, 
.lightbox__prev {
    border: none; 
    background: url(/assets/icons/arrow.svg) center center / 30px 48px no-repeat; /* no-repeat, to not arrow in extended area */
    width: 30px;     
    height: 48px; 
    position: fixed;
    top: 50%; 
    right: 10%;
    margin-top: -14px;
    z-index: 11;
    text-indent: -10000px; 
}

.lightbox__prev {
    right: auto;
    left: 10%;
    transform: rotate(180deg);
}

.lightbox__close {
    width: 42px;
    height: 42px;
    border: none;
    background: url(/assets/icons/close-lightbox.svg) center center / 42px no-repeat transparent;
    position: fixed;
    text-indent: -10000px;
    top: 16%; 
    right: 10%;
    z-index: 12;
}

.lightbox-button {
    opacity: 1;
    cursor: pointer;
}

.lightbox-button:hover {
    opacity: .5; 
}

.lightbox__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    padding: 5% 0; 
}

.lightbox__container img {
    max-width: 100%;
    height: 70vh; 
    width: 900px;
    max-height: 750px; 
    object-fit: cover;
}

.lightbox__container video {
    max-width: 100%;
    height: 70vh;
    width: 900px;
    max-height: 750px; 
    object-fit: cover;
}

.lightbox__container h2 {
    color: #901C1C;
    font-size: 31px;
    display: flex;
    margin-top: 1%;
    margin-left: -400px;
}

@keyframes lightboxIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.lightbox-media-title {
    bottom: 10px;
    z-index: 1000;
    color: white;
    background-color: black;
}