#contact_modal {
    display: none;
}

.photograph-header {
/*  display: flex; */ 
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.photograph-header article {
    display: flex;
    flex-direction: row; /* à revoir */ 
    align-items: center;
    justify-content: space-between;
    margin: 0 3%;
}

.photograph-header article h1 {
    color: #D3573C;
    text-align: left;
    font-size: 44px;
    font-weight: 100;
    margin: 0;
}

.photograph-header article h2 {
    color: #901C1C; 
    font-weight: 200;
    margin: 0;
}

.photograph-header article h3 {
    margin: 0;
    color: grey;
    font-size: 16px;
    font-weight: 100;
}

.photograph-header img {
height: 200px;
width: 200px;
border-radius: 100px;
object-fit: cover;
}

.contact-button {
    
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.contact-button:hover,
.contact-button:focus {
    color: #000;
    background-color: #db8876;
    outline: none;
}

.photograph-media-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

    .photograph-media-cards div img{
        height: 300px;
        width: 350px;
        object-fit: cover;
        cursor: pointer;
}


