#contact_modal {
    display: none;
}

#main {
    margin: 0 50px;
}

/* Photograph header */

.photograph-header {
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA;
    height: 250px;
}

.photograph-header article {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 25px 0;
}

.photograph-header article h1 {
    color: #D3573C;
    text-align: left;
    font-size: 44px;
    font-weight: 100;
    margin: 0;
}

.photograph-header article h2 {
    color: #901C1C; 
    font-weight: 200;
    margin: 0;
}

.photograph-header article h3 {
    margin: 0;
    color: black;
    font-size: 16px;
    font-weight: 100;
}

.photograph-header img {
height: 200px;
width: 200px;
border-radius: 100px;
object-fit: cover;
}

/* Contact modal */

.contact-button {

    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.contact-button:hover,
.contact-button:focus {
    color: #000;
    background-color: #db8876;
    outline: none;
    border: 2px solid #901C1C;
}

/* Gallery medias */

.photograph-media-cards { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin-top: 50px;
}

.card {
    width: 350px;
}

.photograph-media-cards figure img {
   height: 300px;
   width: 350px;
   object-fit: cover;
   cursor: pointer;
}

.photograph-media-cards figure div {
    margin-top: 2px;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.photograph-media-cards figure div h2 {
    width: 80%; 
    margin: 0; 
    font-size: 24px;
    color: #901C1C;
}

.photograph-media-cards figure div div {
    display: flex;
    width: 25%; 
}

.photograph-media-cards figure div div h2 {
    width: 10%;
    margin: 0; 
}

.heart {
    width: 10%; 
    color: #901C1C;
    cursor: pointer;
}


.video {
    width: 350px;
    height: 300px;
    cursor: pointer;
    /* object-fit: cover; */
}

/* Likes price footer */

.footer {
    display: flex;
    position: fixed;
    bottom: 0;
    right: 5%;
    background-color: #DB8876;
    width: 450px;
    height: 40px;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: 700;
    z-index: 9;
}

.footer .total_likes {
    display: flex;
    align-items: center;
}

.footer .total_likes h3 {
    margin-right: 10px;
}

.footer .price {
    margin-right: 10px;
}