@import url("photographer.css");

* {
    font-family: "DM Sans", sans-serif;
}

body {
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

a {
    text-decoration: none; 
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographers-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 70px;
    margin-top: 100px;

}

.photographers-section article {
    justify-items: center;
    cursor: pointer;
}

.photographers-section article a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photographers-section article a img {
    
    height: 200px;
    width: 200px;
    border-radius: 100px;
    object-fit: cover;
}

.photographers-section article h2 {
    color: #D3573C;
    text-align: center;
    font-size: 36px;
    margin: 0;
}

.photographers-section article h4 {
    color: #901C1C; 
    text-align: center;
    margin: 0;
}

.photographers-section article h5 {
    color: black;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

.photographers-section article h6 {
    color: black; 
    font-weight: 100;
    margin: 0; 
    text-align: center;
}